@charset "UTF-8";

/* vendors */

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("../img/vendors/../vendors/ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("../fonts/vendors/slick.eot");
  src: url("../fonts/vendors/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/vendors/slick.woff") format("woff"), url("../fonts/vendors/slick.ttf") format("truetype"), url("../fonts/vendors/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #fff;
  border-radius: 0;
  left: 0px;
  right: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 3px;
}

.simplebar-track.simplebar-vertical:before {
  position: absolute;
  top: 0;
  left: 1px;
  content: "";
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* base */

/*  Переменные со шрифтами  */

/*  Основные цвета  */

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.eot");
  src: url("../fonts/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype"), url("../fonts/MullerLight.svg#MullerLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerThinItalic.eot");
  src: url("../fonts/MullerThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerThinItalic.woff2") format("woff2"), url("../fonts/MullerThinItalic.woff") format("woff"), url("../fonts/MullerThinItalic.ttf") format("truetype"), url("../fonts/MullerThinItalic.svg#MullerThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBlackItalic.eot");
  src: url("../fonts/MullerBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlackItalic.woff2") format("woff2"), url("../fonts/MullerBlackItalic.woff") format("woff"), url("../fonts/MullerBlackItalic.ttf") format("truetype"), url("../fonts/MullerBlackItalic.svg#MullerBlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegularItalic.eot");
  src: url("../fonts/MullerRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegularItalic.woff2") format("woff2"), url("../fonts/MullerRegularItalic.woff") format("woff"), url("../fonts/MullerRegularItalic.ttf") format("truetype"), url("../fonts/MullerRegularItalic.svg#MullerRegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerThin.eot");
  src: url("../fonts/MullerThin.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerThin.woff2") format("woff2"), url("../fonts/MullerThin.woff") format("woff"), url("../fonts/MullerThin.ttf") format("truetype"), url("../fonts/MullerThin.svg#MullerThin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBlack.eot");
  src: url("../fonts/MullerBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlack.woff2") format("woff2"), url("../fonts/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack.ttf") format("truetype"), url("../fonts/MullerBlack.svg#MullerBlack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.eot");
  src: url("../fonts/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype"), url("../fonts/MullerMedium.svg#MullerMedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBoldItalic.eot");
  src: url("../fonts/MullerBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBoldItalic.woff2") format("woff2"), url("../fonts/MullerBoldItalic.woff") format("woff"), url("../fonts/MullerBoldItalic.ttf") format("truetype"), url("../fonts/MullerBoldItalic.svg#MullerBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerExtraBoldItalic.eot");
  src: url("../fonts/MullerExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBoldItalic.woff2") format("woff2"), url("../fonts/MullerExtraBoldItalic.woff") format("woff"), url("../fonts/MullerExtraBoldItalic.ttf") format("truetype"), url("../fonts/MullerExtraBoldItalic.svg#MullerExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerHeavy.eot");
  src: url("../fonts/MullerHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerHeavy.woff2") format("woff2"), url("../fonts/MullerHeavy.woff") format("woff"), url("../fonts/MullerHeavy.ttf") format("truetype"), url("../fonts/MullerHeavy.svg#MullerHeavy") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerUltraLightItalic.eot");
  src: url("../fonts/MullerUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerUltraLightItalic.woff2") format("woff2"), url("../fonts/MullerUltraLightItalic.woff") format("woff"), url("../fonts/MullerUltraLightItalic.ttf") format("truetype"), url("../fonts/MullerUltraLightItalic.svg#MullerUltraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMediumItalic.eot");
  src: url("../fonts/MullerMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMediumItalic.woff2") format("woff2"), url("../fonts/MullerMediumItalic.woff") format("woff"), url("../fonts/MullerMediumItalic.ttf") format("truetype"), url("../fonts/MullerMediumItalic.svg#MullerMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.ttf") format("truetype"), url("../fonts/MullerExtraBold.svg#MullerExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLightItalic.eot");
  src: url("../fonts/MullerLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLightItalic.woff2") format("woff2"), url("../fonts/MullerLightItalic.woff") format("woff"), url("../fonts/MullerLightItalic.ttf") format("truetype"), url("../fonts/MullerLightItalic.svg#MullerLightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerHeavyItalic.eot");
  src: url("../fonts/MullerHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerHeavyItalic.woff2") format("woff2"), url("../fonts/MullerHeavyItalic.woff") format("woff"), url("../fonts/MullerHeavyItalic.ttf") format("truetype"), url("../fonts/MullerHeavyItalic.svg#MullerHeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype"), url("../fonts/MullerBold.svg#MullerBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerUltraLight.eot");
  src: url("../fonts/MullerUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerUltraLight.woff2") format("woff2"), url("../fonts/MullerUltraLight.woff") format("woff"), url("../fonts/MullerUltraLight.ttf") format("truetype"), url("../fonts/MullerUltraLight.svg#MullerUltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype"), url("../fonts/MullerRegular.svg#MullerRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  сбрасывает браузерное отображение элементов т.к. разные браузеры по разному отображают одно и тоже  */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  background-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  padding: 0;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 42px;
  line-height: 50px;
}

h1.g-title-big,
.g-title-big {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  font-size: 140px;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

.g-title {
  font-family: "Muller";
  font-weight: 800;
  font-style: normal;
  margin-top: 0;
  font-size: 40px;
  line-height: 1;
  color: #FFFFFF;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  line-height: 24px;
}

p:last-child {
  margin-bottom: 0;
}

.g-paragraph {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.g-paragraph:last-child {
  margin-bottom: 0;
}

a {
  color: #fff;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: 0;
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
}

.g-btn {
  display: block;
  width: 227px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

input[type=text]::-webkit-input-placeholder {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  color: white;
}

input[type=text]::-moz-placeholder {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  color: white;
}

input[type=text]:-ms-input-placeholder {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  color: white;
}

input[type=text]::-ms-input-placeholder {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  color: white;
}

input[type=text]::placeholder {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  color: white;
}

input[type=text],
input[type=submit],
textarea {
  -webkit-appearance: none;
}

.g-input {
  width: 100%;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #FFFFFF;
  opacity: 0.9;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.g-textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  resize: none;
  font-size: 14px;
  line-height: 1.4;
  color: #FFFFFF;
  border: 1px solid #fff;
  background-color: transparent;
}

.g-upload {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 0;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.g-upload__add {
  position: relative;
  cursor: pointer;
  margin-right: 36px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-bottom: 20px;
}

.g-upload__add span {
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  border-bottom: 1px solid #fff;
}

.g-upload__input {
  width: 0;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
}

.g-uload__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.g-uload__item {
  position: relative;
  margin-bottom: 20px;
  margin-right: 36px;
}

.g-uload__item-name {
  white-space: nowrap;
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 55px;
}

.g-uload__item-remove {
  width: 10px;
  height: 10px;
  font-size: 0;
  position: absolute;
  right: -16px;
  top: -3px;
  cursor: pointer;
}

.g-uload__item-remove img {
  width: 100%;
  height: 100%;
}

/* layouts */

/* blocks */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 29px 69px;
}

.header--expanded {
  z-index: 10;
  height: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

.header--expanded .header__logo {
  opacity: 0;
}

.header--expanded .header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 44px;
  font-size: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__nav-item {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__nav-item:not(:last-child) {
  margin-right: 60px;
}

.header__nav-item.active {
  font-weight: 800;
  position: relative;
}

.header__nav-item.active:after {
  display: block;
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  left: calc(50% - 2px);
  bottom: -11px;
}

.header__burger {
  display: none;
  width: 25px;
  cursor: pointer;
  position: relative;
}

.header__burger:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__burger span {
  display: block;
  height: 2px;
  margin-bottom: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
}

.header__burger span:first-child {
  width: 25px;
}

.header__burger span:nth-child(2) {
  width: 20px;
}

.header__burger span:last-child {
  width: 15px;
  margin-bottom: 0;
}

.header__burger.active span:first-child {
  -webkit-transform: rotate(45deg) translateY(4px) translateX(4px);
  -ms-transform: rotate(45deg) translateY(4px) translateX(4px);
  transform: rotate(45deg) translateY(4px) translateX(4px);
  width: 25px;
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
}

.header__burger.active span:last-child {
  -webkit-transform: rotate(-45deg) translateY(-5px) translateX(4px);
  -ms-transform: rotate(-45deg) translateY(-5px) translateX(4px);
  transform: rotate(-45deg) translateY(-5px) translateX(4px);
  width: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 36px 69px;
}

.footer--expanded {
  z-index: 10;
  height: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

.footer--expanded .footer__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer--expanded .footer__nav-item {
  font-size: 32px;
  margin-bottom: 40px;
  margin-right: 0;
  display: block !important;
}

.footer--expanded .footer__nav-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.footer--expanded .footer__nav-item.active {
  font-size: 32px;
}

.footer--expanded .footer__nav-item.active::after {
  display: none;
}

.footer--expanded .footer__burger {
  right: 30px;
  top: 38px;
  bottom: unset;
}

.footer--expanded .footer__burger-close {
  display: block;
}

.footer--expanded .footer__burger-open {
  display: none;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__nav-item {
  font-size: 14px;
  line-height: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 36px;
}

.footer__nav-item:last-child {
  margin-right: 0px;
}

.footer__nav-item.active {
  font-weight: 800;
  position: relative;
}

.footer__nav-item.active:after {
  display: block;
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  left: calc(50% - 2px);
  bottom: -11px;
}

.footer__burger {
  font-size: 0;
  position: absolute;
  right: 27px;
  bottom: 28px;
}

.footer__burger-close {
  display: none;
}

.greetings {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.greetings__slide.slick-current {
  -webkit-animation: fadeInOut 4s linear;
  animation: fadeInOut 4s linear;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.company .g-title {
  margin-top: 0;
  margin-bottom: 38px;
}

.company__info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 41.640625%;
  flex-basis: 41.640625%;
  max-width: 41.640625%;
  height: 100%;
  padding: 150px 96px 100px 69px;
}

.company__slider {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 58.359375%;
  flex-basis: 58.359375%;
  max-width: 58.359375%;
  height: 100%;
}

.company__slider .slick-slide,
.company__slider .slick-list,
.company__slider .slick-track {
  font-size: 0;
  height: 100%;
}

.company__slider:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 238px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
}

.company__slider:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.company__slide {
  font-size: 0;
  height: 100%;
}

.company__slide picture {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.company__slide img,
.company__slide source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.company__thumb-slider {
  width: 106px;
  height: 75px;
  position: absolute;
  left: calc(41.640625% - 53px);
  top: calc(50% - 37.5px);
  cursor: pointer;
}

.company__thumb-slider .slick-slide,
.company__thumb-slider .slick-list,
.company__thumb-slider .slick-track {
  font-size: 0;
  height: 100%;
}

.company__thumb-slide {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.company__thumb-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.services {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 69px 0 74px;
  position: relative;
}

.services__slider {
  max-width: 892px;
}

.services__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__slide {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 1.4;
  color: #ffffff;
  cursor: pointer;
}

.services__slide:not(:slick-current) {
  visibility: hidden;
}

.services__dots-slider {
  height: 50px;
  width: 400px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  right: -110px;
}

.services__dots-slide {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-bottom: 30px;
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  -webkit-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

.services__dots-slide.slick-current {
  font-size: 30px;
  font-family: "Muller";
  font-weight: bold;
  font-style: normal;
  -webkit-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

.services__dots-slide.slick-current ~ .slick-active:not(.slick-current) {
  font-size: 20px;
}

.services__dots-slide.slick-current ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
  font-size: 16px;
}

.services__dots-slide.slick-current ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
  font-size: 12px;
}

.services__dots-slide.slick-active:not(.slick-current) {
  font-size: 12px;
}

.services__dots-slide.slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
  font-size: 16px;
}

.services__dots-slide.slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
  font-size: 20px;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 167px;
  padding-right: 70px;
}

.mission .g-title {
  margin-bottom: 35px;
}

.mission__wrap {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.mission__text-wrap {
  width: 1042px;
  max-width: 100%;
  max-height: 320px;
  padding-right: 40px;
}

.mission__text {
  max-width: 892px;
}

.partner {
  width: 945px;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.partner .g-title {
  margin-bottom: 25px;
}

.partner .g-paragraph {
  max-width: 560px;
  margin-bottom: 46px;
}

.partner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partner-form .g-input {
  margin-bottom: 30px;
}

.partner-form .g-input:last-child {
  margin-bottom: 60px;
}

.partner-form .g-textarea {
  margin-bottom: 16px;
}

.partner-form__label {
  display: block;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
  cursor: pointer;
}

.partner-form__left {
  -ms-flex-preferred-size: 366px;
  flex-basis: 366px;
  max-width: 366px;
  margin-right: 20px;
}

.partner-form__right {
  -ms-flex-preferred-size: 516px;
  flex-basis: 516px;
  max-width: 516px;
}

.partner-form__right .partner-form__submit {
  display: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.contacts .g-title {
  margin-top: 0;
  margin-bottom: 38px;
}

.contacts h2.g-title {
  margin-bottom: 14px;
}

a.contacts__link {
  display: block;
  margin-bottom: 23px;
}

.contacts__messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.contacts__messenger a.contacts__link {
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
  margin-right: 21px;
}

.contacts__info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 41.640625%;
  flex-basis: 41.640625%;
  max-width: 41.640625%;
  height: 100%;
  padding: 150px 96px 100px 69px;
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
}

.contacts__info-top {
  margin-bottom: 100px;
}

.contacts__map {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 58.359375%;
  flex-basis: 58.359375%;
  max-width: 58.359375%;
  height: 100%;
  position: relative;
}

.contacts__map:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 238px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
}

.contacts__map:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}

.contacts__map #map {
  height: 100%;
}

.contacts-map {
  height: 100%;
  width: 100%;
}

a:active {
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  min-width: 320px;
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

body .header,
body .footer,
body .wrapper {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body.ready .header,
body.ready .footer,
body.ready .wrapper {
  opacity: 1;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.wrapper {
  height: calc(100vh - 188px);
  height: calc(var(--vh, 1vh) * 100 - 188px);
  width: 100vw;
  position: fixed;
  top: 102px;
}

.wrapper--full {
  position: static;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.message-box {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.message-box .g-title {
  margin-bottom: 25px;
}

.message-box .g-paragraph {
  margin-bottom: 58px;
  max-width: 459px;
  text-align: center;
}

.message-box--404 .g-title-big {
  font-size: 150px;
}

.message-box--404 .g-paragraph {
  margin-bottom: 38px;
}

@media (max-width: 1179px) {
  .header {
    padding: 25px 28px;
  }

  .footer {
    padding: 29px 41px;
  }

  .footer__burger {
    right: 27px;
    bottom: 23px;
  }

  .footer__nav-item {
    font-size: 16px;
  }

  .company__info {
    padding: 150px 96px 100px 28px;
  }

  .services {
    padding: 0 28px;
  }

  .services__dots-slider {
    right: -156px;
  }

  .mission {
    padding-left: 28px;
    padding-right: 28px;
  }

  .mission__text-wrap {
    width: 1042px;
    max-width: 100%;
    max-height: 479px;
    padding-right: 38px;
  }

  .contacts__info {
    padding: 150px 96px 100px 28px;
  }

  .wrapper {
    top: 94px;
    height: calc(100vh - 168px);
    height: calc(var(--vh, 1vh) * 100 - 168px);
  }

  .wrapper--full {
    top: 94px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media (max-width: 1023px) {
  .header__nav {
    display: none;
  }

  .header__nav-item {
    font-size: 28px;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 42px;
  }

  .header__nav-item.active {
    font-weight: bold;
  }

  .header__nav-item.active:after {
    display: none;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 38px;
    right: 30px;
  }

  .company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .company__info {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    max-height: calc(50% - 78px);
    max-height: calc(var(--vh, 1vh) * 50 - 78px);
    width: 100%;
    max-width: 100%;
    padding: 79px 30px 0 30px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
  }

  .company__slider {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    max-height: 50%;
    max-height: calc(var(--vh, 1vh) * 50);
    width: 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .company__slider .slick-slide,
  .company__slider .slick-list,
  .company__slider .slick-track {
    height: 100%;
    width: 100%;
  }

  .company__slider:before {
    opacity: 0.45;
  }

  .company__slider:after {
    display: none;
  }

  .company__thumb-slider {
    left: calc(50% - 53px);
    top: calc(50% - 26.5px);
    top: calc(var(--vh, 1vh) * 50 - 37.5px);
  }

  .services__slider {
    max-width: 587px;
  }

  .partner {
    padding: 0 28px;
  }

  .partner-form__left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .partner-form__left .partner-form__submit {
    display: none;
  }

  .partner-form__right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .partner-form__right .partner-form__submit {
    display: block;
  }

  .partner-form__right .g-upload {
    margin-bottom: 40px;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contacts__info {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    max-height: calc(50% - 78px);
    max-height: calc(var(--vh, 1vh) * 50 - 78px);
    width: 100%;
    max-width: 100%;
    padding: 79px 30px 0 30px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-y: auto;
  }

  .contacts__info-top {
    margin-bottom: 0;
    margin-right: 74px;
  }

  .contacts__map {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    max-height: 50%;
    max-height: calc(var(--vh, 1vh) * 50);
    width: 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .contacts__map:before {
    opacity: 0.45;
  }

  .contacts__map:after {
    display: none;
  }
}

@media (max-width: 767px) {
  h1.g-title-big,
  .g-title-big {
    font-size: 80px;
  }

  .g-title {
    font-size: 26px;
  }

  .g-paragraph {
    font-size: 12px;
  }

  .g-upload__add {
    margin-right: 20px;
  }

  .g-uload__item {
    margin-right: 25px;
  }

  .g-uload__item-name {
    font-size: 12px;
  }

  .header {
    padding: 23px 20px;
  }

  .header__logo {
    width: 66px;
    height: 29px;
  }

  .header__nav-item {
    font-size: 18px;
  }

  .header__nav-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .header__burger {
    top: 30px;
    right: 21px;
  }

  .footer {
    padding: 32px 65px 32px 20px;
  }

  .footer--expanded .footer__nav-item {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer--expanded .footer__nav-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  .footer--expanded .footer__nav-item.active {
    font-size: 20px;
  }

  .footer--expanded .footer__nav-item.active::after {
    display: none;
  }

  .footer--expanded .footer__burger {
    top: 27px;
    right: 20px;
  }

  .footer__nav-item {
    font-size: 14px;
    margin-right: 18px;
  }

  .footer__nav-item:last-child {
    margin-right: 0;
  }

  .footer__burger {
    right: 19px;
    bottom: 23px;
  }

  .company .g-title {
    margin-bottom: 20px;
  }

  .company__info {
    padding: 69px 20px 0 20px;
  }

  .company__thumb-slider {
    width: 72px;
    height: 51px;
    position: absolute;
    left: calc(50% - 36px);
    top: calc(50% - 26.5px);
    top: calc(var(--vh, 1vh) * 50 - 26.5px);
  }

  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .services__slider {
    max-width: 100%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .services__slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .services__slider .slick-track,
  .services__slider .slick-list {
    height: 100%;
  }

  .services__slide {
    font-size: 18px;
    line-height: 1.3;
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .services__dots-slider {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    height: 28px;
    width: 100%;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    position: static;
  }

  .services__dots-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
  }

  .services__dots-slider .slick-list {
    margin: 0 -15px;
  }

  .services__dots-slide {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    margin-bottom: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    line-height: 28px;
    width: unset;
    padding: 0 15px;
  }

  .services__dots-slide.slick-current {
    font-size: 28px;
  }

  .services__dots-slide.slick-current ~ .slick-active:not(.slick-current) {
    font-size: 20px;
  }

  .services__dots-slide.slick-current ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
    font-size: 14px;
  }

  .services__dots-slide.slick-current ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
    font-size: 12px;
  }

  .services__dots-slide.slick-active:not(.slick-current) {
    font-size: 12px;
  }

  .services__dots-slide.slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
    font-size: 14px;
  }

  .services__dots-slide.slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) ~ .slick-active:not(.slick-current) {
    font-size: 20px;
  }

  .mission {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mission__text-wrap {
    width: 1042px;
    max-width: 100%;
    max-height: 325px;
    padding-right: 16px;
  }

  .partner {
    padding: 0 20px;
    overflow-y: scroll;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .partner .g-btn {
    width: 100%;
  }

  .contacts .g-title {
    margin-bottom: 20px;
  }

  .contacts .g-title {
    margin-bottom: 30px;
  }

  .contacts__info {
    display: block;
    padding: 50px 20px 0 20px;
    font-size: 18px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .contacts__info-top {
    margin-right: 0;
    margin-bottom: 50px;
  }

  a.contacts__link {
    margin-bottom: 15px;
  }

  .contacts__messenger {
    margin-top: 30px;
  }

  .contacts__messenger a.contacts__link {
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    margin-right: 25px;
  }

  .wrapper {
    top: 75px;
    height: calc(100vh - 153px);
    height: calc(var(--vh, 1vh) * 100 - 153px);
  }

  .wrapper--full {
    top: 75px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .message-box {
    padding: 0 20px;
    position: relative;
  }

  .message-box .g-title {
    margin-bottom: 20px;
  }

  .message-box .g-btn {
    position: absolute;
    bottom: 0;
  }

  .message-box--404 .g-title-big {
    font-size: 120px;
  }
}