/* vendors */
@import 'vendors/slick';
@import 'vendors/slick-theme';

/* base */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';
@import 'base/controls';
@import 'base/mixins';

/* layouts */
@import 'layouts/default';

/* blocks */
@import 'blocks/header';
@import 'blocks/footer';

@import 'pages/index';
@import 'pages/company';
@import 'pages/services';

a:active
{
	color: inherit;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	height: 100%;
}

body
{
	min-width: 320px;
	position: relative;
	@include gradient-bg;
}

@keyframes gradient
{
	0%
	{
		background-position: 0% 50%;
	}
	50%
	{
		background-position: 100% 50%;
	}
	100%
	{
		background-position: 0% 50%;
	}
}

.wrapper
{
	height: 100vh;
	width: 100vw;
}

.container
{
	margin: 0 auto;
	padding: 0 20px;
	width: 1280px;
	max-width: 100%;
	height: 100%;

	@media (max-width: 767px)
	{
		width: 100%;
	}
}