/* vendors */
@import 'vendors/slick';
@import 'vendors/slick-theme';
@import 'vendors/simplebar';

/* base */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';
@import 'base/controls';
@import 'base/mixins';

/* layouts */
@import 'layouts/default';

/* blocks */
@import 'blocks/header';
@import 'blocks/footer';

@import 'pages/index';
@import 'pages/company';
@import 'pages/services';
@import 'pages/mission';
@import 'pages/partner';
@import 'pages/contacts';

a:active
{
	color: inherit;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
	height: 100%;
	position: relative;
	overflow: hidden;
}

body
{
	min-width: 320px;
	@include gradient-bg;

	.header, .footer, .wrapper
	{
		opacity: 0;
		transition: opacity .3s;
	}

	&.ready
	{
		.header, .footer, .wrapper
		{
			opacity: 1;
		}
	}
}

@keyframes gradient
{
	0%
	{
		background-position: 0% 50%;
	}

	50%
	{
		background-position: 100% 50%;
	}

	100%
	{
		background-position: 0% 50%;
	}
}

@keyframes fadeInOut
{
	0%
	{
		opacity: 0;
	}

	20%, 80%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}

.wrapper
{
	height: calc(100vh - 188px);
	height: calc((var(--vh, 1vh) * 100) - 188px); // for mobile bars
	width: 100vw;
	position: fixed;
	top: 102px;

	@media (max-width: 1179px)
	{
		top: 94px;
		height: calc(100vh - 168px);
		height: calc((var(--vh, 1vh) * 100) - 168px);
	}

	@media (max-width: 767px)
	{
		top: 75px;
		height: calc(100vh - 153px);
		height: calc((var(--vh, 1vh) * 100) - 153px);
	}

	&--full
	{
		position: static;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);

		@media (max-width: 1179px)
		{
			top: 94px;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
		}

		@media (max-width: 767px)
		{
			top: 75px;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
		}
	}
}

.message-box
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.g-title
	{
		margin-bottom: 25px;
	}

	.g-paragraph
	{
		margin-bottom: 58px;
		max-width: 459px;
		text-align: center;
	}

	&--404
	{
		.g-title-big
		{
			font-size: 150px;
		}

		.g-paragraph
		{
			margin-bottom: 38px;
		}
	}
}

@media (max-width: 767px)
{
	.message-box
	{
		padding: 0 20px;
		position: relative;

		.g-title
		{
			margin-bottom: 20px;
		}

		.g-btn
		{
			position: absolute;
			bottom: 0;
		}

		&--404
		{
			.g-title-big
			{
				font-size: 120px;
			}
		}

	}
}