/* vendors */
// @import 'vendors/slick';
// @import 'vendors/slick-theme';

/* base */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';
@import 'base/controls';

/* layouts */
@import 'layouts/default';

/* blocks */
@import 'blocks/header';
@import 'blocks/footer';

@import 'pages/index';

a:active
{
	color: inherit;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	height: 100%;
}

body
{
	min-width: 320px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

// for sticky footer
.header, .footer
{
	flex: 0 0 auto;
}

.wrapper
{
	flex: 1 0 auto;
}

.container
{
	margin: 0 auto;
	padding: 0 20px;
	width: 1280px;
	max-width: 100%;
	height: 100%;

	@media (max-width: 767px)
	{
		width: 100%;
	}
}