{% block footer %}
<footer class="footer _footer">
	<nav class="footer__nav">
		<a href="#" class="footer__nav-item">
			العربية
		</a>

		<a href="#" class="footer__nav-item">
			中文简体
		</a>

		<a href="#" class="footer__nav-item">
			中文简体
		</a>

		<a href="#" class="footer__nav-item active">
			English
		</a>

		<a href="#" class="footer__nav-item">
			Français
		</a>

		<a href="#" class="footer__nav-item">
			Deutsch
		</a>

		<a href="#" class="footer__nav-item">
			Ελληνικά
		</a>

		<a href="#" class="footer__nav-item">
			תירבע
		</a>

		<a href="#" class="footer__nav-item">
			हिन्दी
		</a>

		<a href="#" class="footer__nav-item">
			Italiano
		</a>

		<a href="#" class="footer__nav-item">
			Português
		</a>

		<a href="#" class="footer__nav-item">
			Türkçe
		</a>

		<a href="#" class="footer__nav-item">
			한국어
		</a>

		<a href="#" class="footer__nav-item">
			日本語
		</a>
	</nav>
</footer>
{% endblock %}