{% block footer %}
<footer class="footer _footer">
	{%
		set languages = ['France', 'Deutsch', 'Ελληνικά', 'Italiano', 'Español', 'Português', 'Türkçe', '한국어', '日本語', 'हिन्दी', 'תירבע', '中文简体', 'العربية']
	%}

	<nav class="footer__nav _footerNav">
		<a href="#" class="footer__nav-item _footerNavItem active">
			English
		</a>

		{% for language in languages %}
			<a href="#" class="footer__nav-item _footerNavItem">
				{{language}}
			</a>
		{% endfor %}
	</nav>

	<div class="footer__burger _footerNavTrigger" onclick="global.toggleNav(this, '._footer', 'footer--expanded')">
		<div class="footer__burger-open">
			<img src="./img/language-trigger.svg" alt="">
		</div>

		<div class="footer__burger-close">
			<img src="./img/closenav.svg" alt="">
		</div>
	</div>
</footer>
{% endblock %}