{% block header %}
<header class="header _header">
	<a href="./index.html" class="header__logo">
		<img src="./img/logo.png" alt="">
	</a>

	{%
		set pages = [
			{name: "Company", link: "company"},
			{name: "What we do?", link: "what-we-do"},
			{name: "Mission", link: "mission"},
			{name: "Contacts", link: "contacts"},
			{name: "Become a Partner", link: "become-a-partner"},
		]
	%}

	<nav class="header__nav">
		{% for page in pages %}
			<a href="./{{page.link}}.html" class="header__nav-item {% if page.name == currentPage %}active{% endif %}">
				{{page.name}}
			</a>
		{% endfor %}
	</nav>

	<div onclick="global.toggleNav(this, '._header', 'header--expanded')" class="header__burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
</header>
{% endblock %}
