{% block header %}
<header class="header _header">
	<div class="header__logo">
		<img src="./img/logo.png" alt="">
	</div>

	<nav class="header__nav _headerNav">
		<a href="#" class="header__nav-item">
			Company
		</a>

		<a href="#" class="header__nav-item active">
			What we do?
		</a>

		<a href="#" class="header__nav-item">
			Mission
		</a>

		<a href="#" class="header__nav-item">
			Contacts
		</a>

		<a href="#" class="header__nav-item">
			Become a Partner
		</a>
	</nav>

	<div onclick="o2.toggleNav(this)" class="header__burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
</header>
{% endblock %}
