button
{
    outline: none;
    border: 0;
}

input[type="text"]::placeholder
{
	@include muller();
	color: white;
}

.g-input
{
	font-size: 14px;
	color: #FFFFFF;
	padding-bottom: 10px;
	opacity: 0.9;
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
}