body
{
	@include muller();
	font-size: 16px;
	line-height: 1;
	color: $main-color;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li
	{
		margin: 0;
		padding: 0;
	}
}

address
{
	font-style: normal;
}

h1
{
	font-size: 42px;
	line-height: 50px;
}

h1.g-title, .g-title
{
	@include muller();
	font-size: 140px;
	line-height: 1;
	margin: 0;
}

h2
{
	font-size: 22px;
	line-height: 28px;
}

h3
{
	font-size: 16px;
	margin-bottom: 10px;
}

h4
{
	font-size: 15px;
	line-height: 24px;
}

p
{
	&:last-child
	{
		margin-bottom: 0;
	}
}

a
{
	color: #fff;
}

a,
a:hover,
a:active,
a:visited,
a:focus
{
	outline: 0;
	text-decoration: none;
}

@media (max-width: 767px)
{
	h1.g-title, .g-title
	{
		font-size: 80px;
	}
}