{# 404.twig #}
{% extends "layouts/layout.twig" %}
{% set currentPage = '404' %}

{% block page %}
<section class="message-box message-box--404">
	<h1 class="g-title-big">404</h1>
    <div class="g-paragraph">page unavailable</div>
    <a href="#" class="g-btn">Back</a>
</section>
{% endblock %}