{# index.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}
<div class="greetings _greetingsSlider">
	<div class="greetings__slide">
		<span class="g-title-big">Hello</span>
	</div>

	<div class="greetings__slide">
		<span class="g-title-big">Hola</span>
	</div>

	<div class="greetings__slide">
		<span class="g-title-big">Bonjour</span>
	</div>
</div>
{% endblock %}