{# partner.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}

	<div class="g-title">
		312
	</div>
	<div class="g-paragraph">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam, quis nostrud e
	</div>
	<input type="text" placeholder="Name" class="g-input">
	<input type="text" placeholder="Company" class="g-input">
	<input type="text" placeholder="Phone, E-mail, Messenger" class="g-input">
	<textarea name="" id="" cols="30" rows="10"></textarea>

{% endblock %}